<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>


<form >

 <div class="container center_div">
 <div class="form-group form-group-sm">
<div class="col-xs-2">
  <div>
    <label for="firstname">First Name</label>
    <input type="firstname" class="form-control" id="firstname" ng-model="user.firstname">
  </div>
  
   <div>
    <label for="lastname">Last Name</label>
    <input type="lastname" class="form-control" id="lastname" ng-model="user.lastname">
  </div>
 
  <div>
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" ng-model="user.email">
  </div>
  
   <div>
    <label for="username">Username</label>
    <input type="username" class="form-control" id="username" ng-model="user.username">
  </div>
  
  <div>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password">
  </div>
  <div>
  <label for="confirm password">Confirm password</label>
  <input type="confirm password" class="form-control" id="confirm password" ng-model="user.confirm password">
  </div>
 
  
 
 

Select Role <input type="radio" ng-model="user.role" value="Student">Student
<input type="radio" ng-model="user.role" value="Admin">Admin
<input type="radio" ng-model="user.role" value="Employee">Employee

<br>
<input type="submit" ng-click="register(user)" class="btn btn-primary"><div class="col-sm-3"></div><br>
</div>
 
</div>
</div>
</form>
</body>
</html>